@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('/static/Cafe24Ssurround-v2.0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    width: 100%;
    height: 100%;
}
body {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.photo {
    width: 450px;
    height: 450px;
    object-fit: cover;
}
.startbutton {
    font-family: 'Cafe24Ssurround';
    font-size: xx-large;
    color: white;
    border-color: #3954A6;
    width: 250px;
    height: 75px;
    background-color: #3954A6;
    border-radius: 50px;
    display: block;
    margin: auto;
    border-style: solid;
    border-width: medium;
}
.startbutton:hover {
    color: #acacac;
}
.disp {
    background-color: rgb(255, 255, 255);
    font-family: 'Cafe24Ssurround';
    color: black;
    border-radius: 50px;
    border-style: solid;
    border-width: medium;
    border-color: #3954A6;
    font-size: 20pt;
    padding: 10px 5px;
    text-align: center;
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#wrapper {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
